VITE_BACKEND_URL=http://localhost:4000
VITE_SUPABASE_URL=https://nltdcgsmvppjlmafkkan.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_2BCTvVFQp2haxtK1ffjybg_AIZnroHQ
VITE_DISCORD_URL=https://discord.com
VITE_REDDIT_URL=https://reddit.com
